html, body {
    font-family: "Monsterrat", sans-serif;
    margin: 0;
}

#app {
    font-family: "Monsterrat", sans-serif;
}

button {
    font-family: "Monsterrat", sans-serif;
    cursor: pointer;
}
button:focus {
    outline:0;
}
.button--default {

}

